.waitlist {
  display: flex;
  font-family: roboto, Arial, Helvetica, sans-serif;
  border: 1px #002fff solid;
  margin-top: 5px;
  margin-bottom: 0px;
  gap: 5px;
  justify-content: center;
  font-size: 15px;
  color: #002fff;
  padding: 10px 5px;
  font-weight: bold;
  background-color: hsl(229, 100%, 85%);
  align-items: center;
}
.waitlist_number {
  color: rgb(255, 1, 1);
}
