@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
  --main-color: #5271ff;
}

button {
  cursor: pointer;
}
.superuser_bg {
  background-color: rgba(237, 237, 237);
  font-family: "Roboto";
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.superuser_card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: "Roboto";
  height: 430px;
  width: 400px;
  background-color: var(--main-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
}

.superuser_form {
  font-family: "Roboto";
  text-align: center;
  color: white;
  height: 100%;
  padding: 10px 0px;
  width: 80%;
}
.superuser_card > div {
  font-family: "Roboto";
  text-align: center;
  color: white;
}
.superuser_card > div > h1 {
  font-family: "Roboto";
  font-size: 40px;
}
.superuser_input {
  font-family: "Roboto";
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  color: var(--main-color);
  outline: none;
}
.superuser_input::placeholder {
  font-family: "Roboto";
  color: var(--main-color);
}
.superuser_name {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.superuser_name_input {
  font-family: "Roboto";
  width: 40%;
}
.superuser_email_input,
.superuser_number_input {
  font-family: "Roboto";
  width: 93.6%;
  margin-bottom: 10px;
}
.superuser_submit {
  font-family: "Roboto";
  color: var(--main-color);
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
}
.superuser_submit:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.superuser_question_form {
  font-family: "Roboto";
  height: 200px;
  padding: 20px;
}
.superuser_question_form > label {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
}
.superuser_question_form > textarea {
  font-family: "Roboto";
  border: none;
  outline: none;
  width: 350px;
  margin: 10px 0;
  height: 50%;
  padding: 10px;
}
.superuser_question_form > textarea::placeholder {
  font-family: "Roboto";
  color: var(--main-color);
}

.superuser_question_form > input {
  font-family: "Roboto";
  color: var(--main-color);
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}

.superuser_progress {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 12px;
}

.superuser_error_message {
  height: 10px;
  color: rgb(255, 202, 202);
  font-size: 10px;
}

.superuser_error_message > a {
  color: inherit;
  text-decoration: none;
}
.superuser_form_error {
  background-color: rgb(255, 202, 202);
}

.superuser_signup_message {
  font-size: 12px;
  color: white;
}
.superuser_signup_message > a {
  color: black;
  font-weight: bold;
}
.superuser_signup_message > a:hover {
  color: rgb(24, 24, 24);
}

/* loading animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 10px solid #e4e4e4; /* Light grey */
  border-top: 10px solid #5271ff; /* Black */
  border-radius: 50%;
  animation: spinner 700ms linear infinite;
}
.superuser_waitlist {
  display: flex;
  font-family: roboto, Arial, Helvetica, sans-serif;
  border: 1px rgb(0, 255, 42) solid;
  margin-top: 5px;
  gap: 5px;
  justify-content: center;
  font-size: 15px;
  color: rgb(24, 24, 24);
  padding: 10px 5px;
}
.superuser_waitlist_number {
  color: rgb(0, 255, 42);
}
