@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
  --main-color: #5271ff;
}

button {
  cursor: pointer;
}

.superuser_title {
  font-size: 30px !important;
}
.superuser_description {
  height: 80px;
  width: 320px;
}
.superuser_bg {
  background-color: rgba(237, 237, 237);
  font-family: "Roboto";
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.superuser_card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: "Roboto";
  height: 430px;
  width: 400px;
  background-color: var(--main-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
}

.superuser_form {
  font-family: "Roboto";
  text-align: center;
  color: white;
  height: 100%;
  padding: 0px;
  width: 80%;
  margin-top: 0px;
}
.superuser_card > div {
  font-family: "Roboto";
  text-align: center;
  color: white;
}
.superuser_card > div > h1 {
  font-family: "Roboto";
  font-size: 40px;
}
.superuser_input {
  font-family: "Roboto";
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  color: var(--main-color);
  outline: none;
}
.superuser_input::placeholder {
  font-family: "Roboto";
  color: var(--main-color);
}
.superuser_name {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.superuser_name_input {
  font-family: "Roboto";
  width: 40%;
}
.superuser_email_input,
.superuser_number_input {
  font-family: "Roboto";
  width: 93.6%;
  margin-bottom: 15px;
}
.superuser_submit {
  font-family: "Roboto";
  color: var(--main-color);
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}
.superuser_submit:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.superuser_question_form {
  font-family: "Roboto";
  height: 200px;
  padding: 20px;
}
.superuser_question_form > label {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
}
.superuser_question_form > textarea {
  font-family: "Roboto";
  border: none;
  outline: none;
  width: 350px;
  margin: 10px 0;
  height: 50%;
  padding: 10px;
}
.superuser_question_form > textarea::placeholder {
  font-family: "Roboto";
  color: var(--main-color);
}

.superuser_question_form > input {
  font-family: "Roboto";
  color: var(--main-color);
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}

.superuser_progress {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 12px;
}

.superuser_error_message {
  height: 10px;
  color: rgb(255, 202, 202);
  font-size: 10px;
}

.superuser_error_message > a {
  color: inherit;
  text-decoration: none;
}
.superuser_form_error {
  background-color: rgb(255, 202, 202);
}

.superuser_signup_message {
  font-size: 12px;
  color: white;
}
.superuser_signup_message > a {
  color: black;
  font-weight: bold;
}
.superuser_signup_message > a:hover {
  color: rgb(24, 24, 24);
}

/* loading animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 10px solid #e4e4e4;
  border-top: 10px solid var(--main-color);
  border-radius: 50%;
  animation: spinner 700ms linear infinite;
}
.superuser_waitlist {
  display: flex;
  font-family: roboto, Arial, Helvetica, sans-serif;
  border: 1px #002fff solid;
  margin-top: 5px;
  margin-bottom: 0px;
  gap: 5px;
  justify-content: center;
  font-size: 15px;
  color: #002fff;
  padding: 10px 5px;
  font-weight: bold;
  background-color: hsl(229, 100%, 85%);
  align-items: center;
}
.superuser_waitlist_number {
  color: rgb(255, 1, 1);
}

.superuser_wrapper {
  display: inline-flex;
  background-color: var(--main-color);
  height: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.superuser_wrapper > .option {
  background: #fff;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.superuser_wrapper > .option > .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.superuser_wrapper > .option > .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #20bd3a;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #00800b;
  background: #20bd3a;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.superuser_wrapper > .option > span {
  font-size: 12px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

.superuser_checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #f3f3f3;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.superuser_checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: var(--main-color);
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #c7c7c7;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.superuser_checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #ffffff;
  }
}
